<template>
	<div class="flex usernav-menu">
		<div class="categories-detail">
			<ul v-for="(category, index) in navcategory" :key="index" class="">
				<li
					:class="
						category.name === categorySelect
							? 'li-categoty is-active'
							: 'li-categoty'
					"
					@click="handleClick(category.sub, category.name)"
				>
					<span class="f-14 font-inter">{{ category.name }}</span>
				</li>
			</ul>
		</div>
		<div class="categories-detail pv-16 ph-16">
			<div class="flex v-center pb-16">
				<img src="~static/assets/img/kalung.png" alt="Kalung" />
				<p class="ml-16 text-semibold">{{ categoryTitle }}</p>
			</div>
			<div>
				<hr />
				<div v-if="categoryContent === null" class="category-item">
					<div v-for="(category, i) in categoryDefault" :key="i">
						<h3 class="f-16">{{ category.title }}</h3>
						<ul class="list-category list-nostyle f-14">
							<li v-for="(menus, idx) in category.sub" :key="idx">
								{{ menus }}
							</li>
						</ul>
					</div>
				</div>
				<div v-else class="category-item">
					<div v-for="(category, index) in categoryContent" :key="index">
						<h3 class="f-16">{{ category.title }}</h3>

						<ul class="list-category list-nostyle f-14">
							<li v-for="(menus, i) in category.sub" :key="i">
								{{ menus }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		navcategory: {
			type: Array,
			required: true
		}
	},
	data() {
		return {
			categorySelect: null,
			categoryContent: null,
			categoryTitle: 'Fashion Wanita',
			categoryDefault: [
				{
					title: 'Aksesoris Wanita',
					sub: [
						'Ikat Kepala Wanita',
						'Kacamata Wanita',
						'Sarung Tangan Wanita',
						'Syal Wanita',
						'Topi Wanita'
					]
				},
				{
					title: 'Bawahan Wanita',
					sub: [
						'Celana Kulot Wanita',
						'Celana Panjang Wanita',
						'Celana Pendek Wanita'
					]
				},
				{
					title: 'Dress',
					sub: ['Jumpsuit & Playsuit', 'Maxi Dress', 'Midi Dress']
				},
				{
					title: 'Fashion Couple',
					sub: ['Aksesoris Couple', 'Baju Couple', 'Jam Tangan Couple']
				},
				{
					title: 'Outwear Wanita',
					sub: [
						'Blazer Wanita',
						'Cardigan Wanita',
						'Coat Wanita',
						'Hoodie Wanita',
						'Jaket Wanita',
						'Sweater Wanita',
						'Vest Wanita'
					]
				},
				{
					title: 'Sepatu Wanita',
					sub: [
						'Boots Wanita',
						'Cardigan Wanita',
						'Coat Wanita',
						'Hoodie Wanita',
						'Jaket Wanita',
						'Sweater Wanita',
						'Vest Wanita'
					]
				}
			]
		}
	},
	methods: {
		handleClick(navcategory, newData) {
			this.categoryContent = navcategory
			this.categorySelect = newData
			this.categoryTitle = newData
		}
	}
}
</script>

<style lang="scss" scoped>
.usernav-menu {
	position: absolute;
	z-index: 5;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 16px;
	width: 930px;
	height: 392px;
	border-radius: 10px;
	left: 112px;

	.categories-detail {
		overflow-y: scroll;
	}
}

.usernav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.usernav-menu li {
	padding: 16px 10px;
	cursor: pointer;
}

.li-categoty {
	padding: 10px;
	align-items: center;
	width: auto;

	&:hover {
		background-color: $secondary;
		border-radius: 10px;
	}
}
.is-active {
	background-color: $secondary;
	border-radius: 10px;
}

.list-category {
	margin-top: 8px;

	li {
		padding: 4px 0;

		&:hover {
			color: darken($grey, 50%);
		}
	}
}

.category-item {
	break-inside: avoid;
	column-count: 3;
	column-gap: 16px;
	width: 700px;
}
</style>
