<template>
	<div class="flex v-center wrapper-container font-inter">
		<div class="hide-mobile">
			<img src="~/assets/img/rocketmall-logo.png" />
		</div>
		<div
			class="flex v-center hide-mobile"
			@mouseleave="showCategoryDropdown = false"
			@mouseenter="showCategoryDropdown = true"
		>
			<i class="bzi-Add bzi-1_5x mr-8"></i>
			<span>Kategori</span>
			<navbarCategoryNav
				v-if="showCategoryDropdown"
				:navcategory="navcategory"
			/>
		</div>
		<div class="search-container pl-16">
			<input type="text" placeholder="Cari produk kamu disini" />
			<button type="submit"><i class="bzi-search text-white"></i></button>
		</div>
		<div class="hide-mobile">
			<div class="icon">
				<i class="bzi--Icon-olor bzi-1_5x mr-24"></i>
				<span class="count">5</span>
			</div>
			<div class="icon">
				<i class="bzi-bell bzi-1_5x mr-24"></i>
				<span class="count">4</span>
			</div>
			<div class="icon">
				<i class="bzi-message-circle bzi-1_5x mr-24"></i>
				<span class="count">5</span>
			</div>
		</div>
		<div
			class="flex v-center hide-mobile usernav-wrapper"
			@mouseleave="showDropdown = false"
			@mouseenter="showDropdown = true"
		>
			<i class="bzi-Vector bzi-1_5x mr-8"></i>
			<span>Diandra</span>
			<navbarUserNav v-if="showDropdown" :usernav="usernav" />
		</div>
		<div class="flex h-center v-center ph-24">
			<i class="bzi-bars bzi-1_5x" @click="showSidebar"></i>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MainNavbar',
	data() {
		return {
			usernav: [
				{
					title: 'Pengaturan Akun',
					icon: 'bzi-Vector',
					url: '/pengaturan-akun'
				},
				{
					title: 'Riwayat Pesanan',
					icon: 'bzi-clock',
					url: '/riwayat-pesanan'
				},
				{
					title: 'Wishlist',
					icon: 'bzi-heart',
					url: '/wishlist'
				},
				{
					title: 'Komplain',
					icon: 'bzi-alert-circle',
					url: '/komplain'
				},
				{
					title: 'Keluar',
					icon: 'bzi-logout',
					url: '/keluar'
				}
			],
			navcategory: [],
			showCategoryDropdown: false,
			showDropdown: false
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/category-navbar.json`)
			.then(res => {
				this.navcategory = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	methods: {
		showSidebar() {
			this.$emit('showSidebar')
		}
	}
}
</script>

<style lang="scss" scoped>
.wrapper-container {
	height: 72px;
	width: 100%;
	background: #fff;
	color: #505565;
	border-bottom: 2px solid #eceff7;
	font-size: 14px;
	justify-content: space-around;
	position: fixed;
	z-index: 3;
	@media #{$medium} {
		position: relative;
		padding: 0px 0px 0px 128px;
	}
}

.search-container {
	display: flex;
	align-items: center;
	color: #b3b7c6;
}

.search-container input[type='text'] {
	padding: 10px;
	border: 1px solid #ededed;
	border-radius: 5px 0 0 5px;
	background-color: #f6f8fb;
	width: 300px;
	@media #{$medium} {
		width: 454px;
	}
	@media only screen and (max-width: 26em) {
		width: 100%;
		padding: 10px;
	}
}

.search-container button[type='submit'] {
	padding: 10px 15px;
	border: none;
	background-color: #4285f4;
	color: white;
	border-radius: 0 6px 6px 0;
	cursor: pointer;
}

.search-container input:focus {
	outline: none;
	border-color: #4f8ad0;
}

.hide-mobile {
	display: block;
}

/* navbar styles for mobile devices */
@media only screen and (max-width: 28em) {
	.hide-mobile {
		display: none;
	}
}

.bzi-bars {
	width: 24px;
	height: 16px;
	color: #505565;
	@media #{$medium} {
		display: none;
	}
}
.icon {
	position: relative;
	display: inline-block;
	z-index: 1;
}
.icon .count {
	position: absolute;
	top: -10px;
	right: 14px;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background-color: #e53935;
	color: white;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	padding-bottom: 2px;
}

.usernav-wrapper {
	position: relative;
}

.usernav-wrapper button {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
}

.usernav-wrapper:hover .usernav-menu {
	display: block;
}
</style>
