<template>
	<div
		class="section-side-nav font-inter"
		:class="{ 'is-active-sidebar': openSide }"
	>
		<div class="ph-16 profile-container flex v-center">
			<img
				src="~static/assets/img/photo-profile.png"
				alt="foto-profile"
				height="56"
				width="56"
				class="mb-16 mt-8"
			/>
			<div class="ml-16 text-semibold">Diandra Putri</div>
		</div>
		<hr class="mr-16 ml-16" />
		<nuxt-link to="pengaturan-akun" class="flex f-space-between link pv-16">
			<div class="flex v-center ml-16">
				<i class="bzi-Vector bzi-1_5x"></i>
				<span class="ml-16">Pengaturan Akun</span>
			</div>
			<i class="bzi-angle-right bzi-1_5x mr-16"></i>
		</nuxt-link>

		<nuxt-link to="pengaturan-akun" class="flex f-space-between link pv-16">
			<div class="flex v-center ml-16">
				<i class="bzi-clock bzi-1_5x"></i>
				<span class="ml-16">Riwayat Pesanan</span>
			</div>
			<i class="bzi-angle-right bzi-1_5x mr-16"></i>
		</nuxt-link>

		<nuxt-link to="pengaturan-akun" class="flex f-space-between link pv-16">
			<div class="flex v-center ml-16">
				<i class="bzi-heart bzi-1_5x"></i>
				<span class="ml-16">Whislist</span>
			</div>
			<i class="bzi-angle-right bzi-1_5x mr-16"></i>
		</nuxt-link>

		<nuxt-link to="pengaturan-akun" class="flex f-space-between link pv-16">
			<div class="flex v-center ml-16">
				<i class="bzi-alert-circle bzi-1_5x"></i>
				<span class="ml-16">Komplain</span>
			</div>
			<i class="bzi-angle-right bzi-1_5x mr-16"></i>
		</nuxt-link>

		<nuxt-link to="pengaturan-akun" class="flex link ml-16 mr-16 pv-16">
			<i class="bzi-Logout bzi-1_5x"></i>
			<span class="ml-16">Keluar</span>
		</nuxt-link>
	</div>
</template>

<script>
export default {
	name: 'SidebarMenu',
	layout: 'BlankLayout',
	props: {
		openSide: {
			type: Boolean
		}
	}
}
</script>

<style lang="scss" scoped>
.section-side-nav {
	box-shadow: 0px 3px 12px #0000000f;
	padding: 8px 8px;
	position: fixed;
	width: 100%;
	z-index: 5;
	height: 100%;
	background-color: #ffff;
	// overflow-y: auto;
	transform: translateX(-450px);
	transition: transform 0.5s ease-in-out;
	right: -450px;
	margin-top: 70px;
	&.is-active-sidebar {
		transform: translateX(0px);
	}
	.link {
		color: $dark-grey;
		&:hover {
			color: lighten($dark-grey, 50%);
		}
	}
}
</style>
