<template>
	<nav>
		<div
			class="flex v-center h-end navbar-container full-width bg-primary ph-128"
		>
			<div class="mr-32">FAQ</div>
			<div>Voucher</div>
		</div>
	</nav>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.navbar-container {
	height: 32px;
	color: #505565;
	font-size: 12px;
}

nav {
	display: block;
}

/* Navbar styles for mobile devices */
@media only screen and (max-width: 28em) {
	nav {
		display: none;
	}
}
</style>
