<template>
	<div class="usernav-menu">
		<ul>
			<div class="flex v-center">
				<img
					src="~static/assets/img/photo-profile.png"
					alt="foto-profile"
					height="56"
					width="56"
					class="mb-16 mt-8"
				/>
				<div class="ml-16 text-semibold">Diandra Putri</div>
			</div>
			<hr />
			<li v-for="(subnav, index) in usernav" :key="index">
				<nuxt-link :to="subnav.url">
					<i :class="subnav.icon" class="bzi-1_5x mr-8"></i>
					<span>{{ subnav.title }} </span></nuxt-link
				>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	props: {
		usernav: {
			type: Array,
			required: true
		}
	}
}
</script>

<style lang="scss" scoped>
.usernav-menu {
	position: absolute;
	top: 100%;
	z-index: 5;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 16px;
	height: 395px;
	width: 262px;
	right: 10px;
	border-radius: 10px;
}

.usernav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.usernav-menu li {
	padding: 16px 10px;
	cursor: pointer;
}

a {
	color: #000;
}
</style>
