<template>
	<div class="wrapper-container">
		<div class="parent-arrows">
			<VueSlickCarousel class="slick" v-bind="settings">
				<div v-for="i in 3" :key="i">
					<div class="ph-16 pv-16">
						<img
							v-lazy-load
							data-src="~/assets/img/banner-rocketmall.png"
							alt="Banner"
						/>
					</div>
				</div>
			</VueSlickCarousel>
		</div>
	</div>
</template>

<script>
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
	data() {
		return {
			settings: {
				slidesToShow: 1,
				slidesToScroll: 1,
				dots: true,
				speed: 500,
				infinite: true,
				autoplaySpeed: 5000,
				autoplay: true,
				centerPadding: '300px',
				centerMode: true,
				responsive: [
					{
						breakpoint: 1024,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 3,
							infinite: true,
							dots: true,
							centerMode: true
						}
					},
					{
						breakpoint: 600,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 2,
							initialSlide: 2,
							centerMode: true
						}
					},
					{
						breakpoint: 480,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
							centerMode: false,
							dots: false,
							arrows: false
						}
					}
				]
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.wrapper-container {
	height: 200px;
	background: #e1f2ff;
	padding-top: 64px;
	@media #{$medium} {
		height: 270px;
		padding-top: 0px;
	}
	@media only screen and (max-width: 26em) {
		height: 175px;
	}
}
</style>
