<template>
	<div class="footer">
		<div class="footer-container flex f-space-between pv-32 ph-128">
			<div>
				<img
					src="~/assets/img/rocketmall-logo.png"
					width="255px"
					height="32px"
					alt="logo"
				/>
				<div class="mt-24 ml-8">© 2021 Copyright to Rocket Mall</div>
			</div>
			<div>
				<p class="text-semibold">Bantuan dan Panduan</p>
				<nuxt-link to="/contact-us"><p>Hubungi Kami</p></nuxt-link>
				<nuxt-link to="/terms-condition"><p>Syarat dan Ketentuan</p></nuxt-link>
				<nuxt-link to="/privacy-policy"><p>Kebijakan privasi</p></nuxt-link>
				<nuxt-link to="/faq"><p>FAQ</p></nuxt-link>
			</div>
			<div>
				<p class="text-semibold">Informasi</p>
				<nuxt-link to="/about-us"><p>Tentang Kami</p></nuxt-link>
				<nuxt-link to="/become-seller"><p>Jadi Mitra</p></nuxt-link>
			</div>
			<div>
				<p class="text-semibold">Bahasa</p>
				<div class="flex">
					<button class="btn--blue">ID</button>
					<button class="btn--white text-black">EN</button>
				</div>
			</div>
			<div>
				<p class="text-semibold">Ikuti Kami</p>
				<i class="bzi-facebook-square bzi-1_5x mr-16"></i>
				<i class="bzi-twitter bzi-1_5x mr-16"></i>
				<i class="bzi-instagram bzi-1_5x mr-16"></i>
				<i class="bzi-youtube bzi-1_5x mr-16"></i>
				<i class="bzi-mail bzi-1_5x"></i>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MainFooter'
}
</script>

<style lang="scss" scoped>
.footer {
	display: none;
	color: #000000;
	@media #{$medium} {
		display: block;
	}
}
.footer-container {
	font-size: 14px;
	height: 239px;
	border-top: 1px solid #f6f8fb;
}

img {
	object-fit: cover;
}
.btn--white {
	border: 1px solid $blue;
	border-radius: 0px 5px 5px 0px;
	color: $grey;
}
.btn--blue {
	border-radius: 5px 0px 0px 5px;
}

a {
	color: $black;
	&:hover {
		color: lighten($black, 50%);
	}
}
</style>
