<template>
	<div class="wrapper-container">
		<div class="f-24 text-semibold text-black pv-48">Mitra Kami</div>
		<div class="parent-arrows">
			<div v-if="$fetchState.pending"><span class="spinner"></span></div>
			<VueSlickCarousel v-else v-bind="settings">
				<div v-for="(partner, i) in partnerLink" :key="i">
					<nuxt-link :to="partner.url">
						<div class="flex v-center h-center f-space-between">
							<img
								v-lazy-load
								:data-src="getImageUrl(partner.image)"
								:alt="partner.title"
								class="logo"
							/>
						</div>
					</nuxt-link>
				</div>
			</VueSlickCarousel>
		</div>
	</div>
</template>

<script>
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
	data() {
		return {
			partnerLink: [],
			settings: {
				dots: false,
				infinite: true,
				speed: 500,
				slidesToShow: 6,
				slidesToScroll: 2,
				initialSlide: 0,
				arrows: true,
				responsive: [
					{
						breakpoint: 1024,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 3,
							infinite: true,
							dots: true,
							arrows: false
						}
					},
					{
						breakpoint: 600,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 2,
							initialSlide: 2,
							arrows: false
						}
					},
					{
						breakpoint: 480,
						settings: {
							slidesToShow: 4,
							slidesToScroll: 1,
							dots: false,
							arrows: false
						}
					}
				]
			}
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/partners.json`)
			.then(res => {
				this.partnerLink = res.data.partner
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	methods: {
		getImageUrl(imageName) {
			return require('~/static/assets/img/mitra/' + imageName)
		}
	}
}
</script>

<style lang="scss" scoped>
a {
	color: #000;
}

.wrapper-container {
	color: #505565;
	padding: 16px 16px 16px 16px;
	@media #{$medium} {
		padding: 0px 128px 0px 128px;
	}

	.text-semibold {
		display: none;
		@media #{$medium} {
			display: block;
		}
	}

	.logo {
		width: 100%;
		height: 40px;
		object-fit: contain;
		padding: 5px;
		@media #{$medium} {
			height: 60px;
			width: auto;
		}
	}
}
</style>

<style lang="scss" scoped>
.parent-arrows ::v-deep .slick-prev:before {
	color: $blue;
	font-size: 25px;
	opacity: 1;
}
.parent-arrows ::v-deep .slick-next:before {
	color: $blue;
	font-size: 25px;
	opacity: 1;
}

.parent-arrows ::v-deep .slick-next {
	right: 0px;
	top: 35%;
}
.parent-arrows ::v-deep .slick-prev {
	left: 0px;
	top: 35%;
}
</style>
