@font-face {
  font-family: 'bz-icon';
  src:  url('~assets/fonts/bz-icon.eot?h89u3c');
  src:  url('~assets/fonts/bz-icon.eot?h89u3c#iefix') format('embedded-opentype'),
    url('~assets/fonts/bz-icon.ttf?h89u3c') format('truetype'),
    url('~assets/fonts/bz-icon.woff?h89u3c') format('woff'),
    url('~assets/fonts/bz-icon.svg?h89u3c#bz-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bzi-"], [class*=" bzi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bz-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  // line-height: normal;
  display: inline-block;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    display: inline-block;
  }
}

.bzi-2x:before {
  transform: scale(2);
}
.bzi-1_5x:before {
  transform: scale(1.5);
}
.bzi-1_2x:before {
  transform: scale(1.2);
}
.bzi-0_5x:before {
  transform: scale(0.5);
}

$sizes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $size in $sizes {
  .bzi-#{$size}x:before {
    font-size: $size * 1em;
  }
}

.bzi-180:before {
  transform: rotate(180deg);
}

// Icons

.bzi-facebook-fill:before {
  content: "\e93d";
  color: #3b5a9a;
}
.bzi-phone:before {
  content: "\e93e";
  color: #2096f3;
}
.bzi-tiktok:before {
  content: "\e936";
  color: #505565;
}
.bzi-star-fill:before {
  content: "\e937";
  color: #ff9800;
}
.bzi-shopping-bag:before {
  content: "\e938";
  color: #6e7692;
}
.bzi-Logout:before {
  content: "\e935";
}
.bzi-heart:before {
  content: "\e92f";
  color: #505565;
}
.bzi-alert-circle:before {
  content: "\e930";
  color: #505565;
}
.bzi-star:before {
  content: "\e931";
}
.bzi-checkmark-circle-2:before {
  content: "\e932";
  color: #fff;
}
.bzi-home1:before {
  content: "\e933";
  color: #2096f3;
}
.bzi-Icon:before {
  content: "\e934";
  color: #2096f3;
}
.bzi-Add:before {
  content: "\e92d";
}
.bzi-message-circle:before {
  content: "\e927";
  color: #505565;
}
.bzi-bell:before {
  content: "\e929";
  color: #505565;
}
.bzi-Vector:before {
  content: "\e92a";
  color: #505565;
}
.bzi--Icon-olor:before {
  content: "\e92b";
  color: #505565;
}
.bzi-globe:before {
  content: "\e902";
}
.bzi-arrow_forward:before {
  content: "\e903";
}
.bzi-calculator:before {
  content: "\e905";
}
.bzi-notification:before {
  content: "\e906";
}
.bzi-share:before {
  content: "\e907";
}
.bzi-twitter:before {
  content: "\e908";
}
.bzi-instagram:before {
  content: "\e909";
}
.bzi-search:before {
  content: "\e90a";
}
.bzi-minus:before {
  content: "\e90b";
}
.bzi-plus:before {
  content: "\e90c";
}
.bzi-long-arrow:before {
  content: "\e90d";
}
.bzi-home:before {
  content: "\e90e";
}
.bzi-play:before {
  content: "\e90f";
}
.bzi-date:before {
  content: "\e910";
}
.bzi-angle-down:before {
  content: "\e911";
}
.bzi-angle-up:before {
  content: "\e912";
}
.bzi-hand-shake:before {
  content: "\e913";
}
.bzi-filter:before {
  content: "\e914";
}
.bzi-caret-right:before {
  content: "\e915";
}
.bzi-caret-left:before {
  content: "\e916";
}
.bzi-caret-up:before {
  content: "\e917";
}
.bzi-caret-down:before {
  content: "\e918";
}
.bzi-angle-right:before {
  content: "\e919";
}
.bzi-angle-left:before {
  content: "\e91a";
}
.bzi-history:before {
  content: "\e91b";
}
.bzi-loading:before {
  content: "\e91c";
}
.bzi-eye:before {
  content: "\e91d";
}
.bzi-mail:before {
  content: "\e91e";
}
.bzi-lock:before {
  content: "\e91f";
}
.bzi-logout:before {
  content: "\e920";
}
.bzi-map-marker:before {
  content: "\e921";
}
.bzi-eye-close:before {
  content: "\e922";
}
.bzi-clock:before {
  content: "\e923";
}
.bzi-people:before {
  content: "\e924";
}
.bzi-reward:before {
  content: "\e925";
}
.bzi-settings:before {
  content: "\e926";
}
.bzi-download:before {
  content: "\e928";
}
.bzi-close:before {
  content: "\e92c";
}
.bzi-attachment:before {
  content: "\e9cd";
}
.bzi-user:before {
  content: "\f007";
}
.bzi-edit:before {
  content: "\f044";
}
.bzi-check-circle:before {
  content: "\f058";
}
.bzi-facebook-square:before {
  content: "\f082";
}
.bzi-linkedin:before {
  content: "\f08c";
}
.bzi-chain:before {
  content: "\f0c1";
}
.bzi-bars:before {
  content: "\f0ca";
}
.bzi-angle-double-left:before {
  content: "\f100";
}
.bzi-angle-double-right:before {
  content: "\f101";
}
.bzi-youtube:before {
  content: "\f16a";
}
.bzi-fax:before {
  content: "\f1ac";
}
.bzi-github:before {
  content: "\eab0";
}
.bzi-github1:before {
  content: "\e900";
}
.bzi-bubble:before {
  content: "\e901";
}
.bzi-google:before {
  content: "\ea88";
}
