.parent-arrows {
.slick-prev:before,
.slick-next:before {
	color: #fff;
	font-size: 37px;
	opacity: 1;
}

.slick-next {
	right: 315px;
	z-index: 2;
}
.slick-prev {
	left: 300px;
	z-index: 2;
}
.slick-dots {
	bottom: 50px;
	padding-left: 200px;
	color: #fff;
}

.slick-dots li.slick-active button:before {
	opacity: 0.75;
	color: white;
}
.slick-dots li button:before {
	color: white;
}
}
