<template>
	<div id="home">
		<navbarSupportNav />
		<navbarMainNavbar @showSidebar="openSidebar = !openSidebar" />
		<navbarSidebarMenu class="hide" :open-side="openSidebar" />
		<nuxt />
		<Footer />
	</div>
</template>

<script>
export default {
	name: 'DefaultLayout',
	data() {
		return {
			isSidebarOpen: false,
			openSidebar: false
		}
	}
}
</script>

<style lang="scss">
#home {
	background: #fff;
	color: #505565;

	.home__wrapper {
		height: 100vh;
		width: 100%;
	}

	.hide {
		@media #{$medium} {
			display: none;
		}
	}
}
</style>
