<template>
	<div class="container text-center">
		<div v-if="statusCode === 404" class="mb-24 h-full top">
			<img v-lazy-load data-src="~assets/img/404.png" alt="" />
			<p class="f-32 text-semibold text-black">
				Maaf, halaman yang sedang Anda cari tidak tersedia
			</p>
		</div>
		<div v-else class="mb-24 h-full top">
			<img v-lazy-load data-src="~assets/img/500.png" alt="" />
			<p class="f-32 text-semibold text-black">
				Maaf, laman ini sedang dalam perbaikan
			</p>
		</div>
		<a class="btn--blue" href="/">Kembali ke halaman awal</a>
	</div>
</template>

<script>
export default {
	name: 'ErrorLayout',
	layout: 'BlankLayout',
	props: {
		error: {
			type: Object,
			default: null
		}
	},
	head() {
		return {
			title: this.error.statusCode
		}
	},
	computed: {
		statusCode() {
			return (this.error && this.error.statusCode) || 500
		},
		message() {
			return this.error.message
		}
	}
}
</script>

<style lang="scss" scoped>
.container {
	padding: 60px 0;
	max-width: 590px !important;

	.top {
		margin-top: 30%;
		@media #{$medium} {
			margin-top: 0;
		}
	}
}
</style>
