<template>
	<div>
		<p v-if="$fetchState.pending">Fetching data ...</p>
		<div v-else class="wrapper-container font-inter text-black">
			<div class="ml-16">
				<h1 class="f-24 f-m-32">{{ legal.title }}</h1>
				<p class="f-14 f-m-16 text-secondary-2">
					{{ legal.date }}
				</p>
			</div>
			<hr />
			<div>
				<ol type="A">
					<li v-for="(item, i) in legal.data" :key="i" type="A" class="title">
						{{ item.title }}
						<p class="f-16 description mt-16">
							{{ item.description }}
						</p>
					</li>
				</ol>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			legal: []
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Static',
				description: 'Static list page'
			}
		})
	},
	async fetch() {
		try {
			const params = this.$route.params.static
			const response = await this.$axios.$get(`/json/legal/${params}.json`)
			this.legal = response
		} catch (error) {
			this.$catchError(error)
		}
	}
}
</script>

<style lang="scss" scoped>
.wrapper-container {
	margin: 0px 16px;
	padding: 90px 0px 64px 0px;
	@media #{$medium} {
		margin: 40px 128px;
		padding-top: 0;
	}

	.title {
		color: $black;
		font-weight: 600;
		line-height: 24px;
		font-size: 20px;
	}

	.description {
		color: $dark-grey-second;
		line-height: 24px;
		font-weight: 400;
		font-size: 16px;
	}
}
</style>
