<template>
	<div class="flex h-center font-inter">
		<div class="wrapper-container">
			<h2 class="f-18 f-m-24 text-center">Daftar Sekarang</h2>
			<p class="f-12 text-center">
				Sudah punya akun? <nuxt-link to="/login">Masuk</nuxt-link>
			</p>
			<form class="mt-24" @submit.prevent="submitForm()">
				<div class="mb-16">
					<div class="f-12">Nama Lengkap<span class="text-red">*</span></div>
					<input
						v-model.trim="name"
						:class="$v.name.$error ? 'form-input--error' : 'form-input'"
						type="name"
						class="form-input"
						@change="$v.name.$touch()"
					/>
					<div v-if="$v.name.$dirty" class="f-12 flex v-center">
						<div v-if="!$v.name.required" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span>name is required</span>
						</div>
					</div>
				</div>
				<div class="mb-16">
					<div class="f-12">Email<span class="text-red">*</span></div>
					<input
						v-model.trim="email"
						:class="$v.email.$error ? 'form-input--error' : 'form-input'"
						type="email"
						class="form-input"
						@change="$v.email.$touch()"
					/>
					<div v-if="$v.email.$dirty" class="f-12 flex v-center">
						<div v-if="!$v.email.required" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span>Email is required</span>
						</div>
						<div v-if="!$v.email.email" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span>Invalid email address</span>
						</div>
					</div>
				</div>
				<div class="mb-16">
					<div class="f-12">Password<span class="text-red">*</span></div>
					<input
						v-model="password"
						:class="$v.password.$error ? 'form-input--error' : 'form-input'"
						type="password"
						class="form-input"
						@change="$v.password.$touch()"
					/>
					<div v-if="$v.password.$error" class="f-12 text-red">
						<div v-if="!$v.password.required" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span>Password is required</span>
						</div>
						<div v-if="!$v.password.validPassword" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span
								>Password must be 8 characters long, alphanumeric, and have 1
								capital letters</span
							>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn--blue">Masuk</button>
				<div class="flex h-start mt-16">
					<div>
						<input
							v-model="checkbox"
							type="checkbox"
							value="checked"
							class="checkbox"
							@change="$v.checkbox.$touch()"
						/>
					</div>
					<div class="ml-8">
						<label class="f-12" for="approve">
							Dengan mendaftar, saya menyetujui
							<nuxt-link to="/terms-condition" class="text-blue"
								>Syarat dan Ketentuan</nuxt-link
							>
							serta
							<nuxt-link to="/privacy-policy" class="text-blue"
								>Kebijakan Privasi</nuxt-link
							>
						</label>
					</div>
				</div>
			</form>
			<p class="text-center f-12 mt-32">Atau, masuk dengan</p>
			<div class="flex f-space-between mb-24 f-12">
				<div class="btn--ghost-dark-grey flex">
					<i class="bzi-phone bzi-1_5x"></i>
					<span class="desktop-only ml-8">No.Telepon</span>
				</div>
				<div class="btn--ghost-dark-grey flex">
					<i class="bzi-facebook-fill bzi-1_5x"></i>
					<span class="desktop-only ml-8">Facebook</span>
				</div>
				<div class="btn--ghost-dark-grey flex">
					<i class="bzi-google bzi-1_5x"></i>
					<span class="desktop-only ml-8">Google</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'
const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$/

export default {
	name: 'FormRegister',
	data() {
		return {
			name: '',
			email: '',
			password: '',
			checkbox: ''
		}
	},
	validations: {
		name: { required },
		email: { required, email },
		password: {
			required,
			minLength: minLength(8),
			validPassword(value) {
				return passwordPattern.test(value)
			}
		},
		checkbox: { required }
	},
	methods: {
		submitForm() {
			this.$v.$touch()

			if (this.$v.$error) {
				return
			}

			this.$router.push({
				path: '/'
			})
		}
	}
}
</script>

<style lang="scss" scoped>
.wrapper-container {
	width: 548px;
	height: auto;
	align-content: center;
	box-shadow: 0px 2px 16px rgba(0, 14, 51, 0.08);
	border-radius: 8px;
	background-color: #fff;
	color: #232735;
	margin: 90px 20px 20px 20px;
	padding: 24px;

	@media #{$medium} {
		margin: 30px 0px;
	}

	.f-12 {
		font-weight: 400;
		color: #505565;
	}

	a {
		color: $blue;
		&:hover {
			color: lighten($blue, 10%);
		}
	}

	.form-input {
		width: 100%;
		&:focus {
			border-color: darken($primary, 50%);
			outline: none;
		}
	}

	.btn {
		width: 100%;
	}

	.btn--ghost-dark-grey {
		padding: 8px 16px;
		@media #{$medium} {
			padding: 8px 42px;
		}
	}
	.checkbox {
		width: 12px;
		height: 12px;
		vertical-align: middle;
	}
}
</style>
