<template>
	<div class="flex h-center font-inter">
		<div class="wrapper-container">
			<h2 class="f-32 text-center">Atur ulang kata sandi</h2>
			<p class="f-12 text-center">
				Kode verifikasi telah dikirim melalui email ke diandraputri@email.com
			</p>
			<form class="mt-24" @submit.prevent="submitForm()">
				<div class="mb-24">
					<div class="f-12">Kode Verifikasi<span class="text-red">*</span></div>
					<input
						v-model.trim="verificationCode"
						:class="
							$v.verificationCode.$error ? 'form-input--error' : 'form-input'
						"
						type="verificationCode"
						class="form-input"
						@change="$v.verificationCode.$touch()"
					/>
					<div v-if="$v.verificationCode.$dirty" class="f-12 flex v-center">
						<div v-if="!$v.verificationCode.required" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span>verificationCode is required</span>
						</div>
					</div>
				</div>
				<div class="mb-16">
					<div class="f-12">Kata Sandi Baru<span class="text-red">*</span></div>
					<input
						v-model="newPassword"
						:class="$v.newPassword.$error ? 'form-input--error' : 'form-input'"
						type="password"
						class="form-input"
						@change="$v.newPassword.$touch()"
					/>
					<div v-if="$v.newPassword.$error" class="f-12 text-red">
						<div v-if="!$v.newPassword.required" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span>newPassword is required</span>
						</div>
						<div v-if="!$v.newPassword.validPassword" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span
								>Password must be 8 characters long, alphanumeric, and have 1
								capital letters</span
							>
						</div>
					</div>
				</div>

				<div class="mb-16">
					<div class="f-12">
						Konfirmasi Kata Sandi<span class="text-red">*</span>
					</div>
					<input
						v-model="confirmPassword"
						:class="
							$v.confirmPassword.$error ? 'form-input--error' : 'form-input'
						"
						type="password"
						class="form-input"
						@change="$v.confirmPassword.$touch()"
					/>
					<div v-if="$v.confirmPassword.$error" class="f-12 text-red">
						<div v-if="!$v.confirmPassword.required" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span>confirmPassword is required</span>
						</div>
						<div v-if="!$v.confirmPassword.validPassword" class="text-red">
							<i class="bzi-alert-circle"></i>
							<span
								>Password must be 8 characters long, alphanumeric, and have 1
								capital letters</span
							>
						</div>
					</div>
				</div>
				<div class="f-14 text-center mb-16">
					Tidak menerima kode?
					<a class="text-blue">Kirim Ulang</a>
				</div>
				<button type="submit" class="btn btn--blue">Lanjutkan</button>
			</form>
		</div>
	</div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$/

export default {
	name: 'ResetPassword',
	data() {
		return {
			verificationCode: '',
			newPassword: '',
			confirmPassword: ''
		}
	},
	validations: {
		verificationCode: { required },
		newPassword: {
			required,
			minLength: minLength(8),
			validPassword(value) {
				return passwordPattern.test(value)
			}
		},
		confirmPassword: {
			required,
			minLength: minLength(8),
			validPassword(value) {
				return passwordPattern.test(value)
			}
		}
	},
	methods: {
		submitForm() {
			this.$v.$touch()

			if (this.$v.$error) {
				return
			}

			this.$router.push({
				path: '/'
			})
		}
	}
}
</script>

<style lang="scss" scoped>
.wrapper-container {
	width: 406px;
	height: auto;
	align-content: center;
	box-shadow: 0px 2px 16px rgba(0, 14, 51, 0.08);
	border-radius: 8px;
	background-color: #fff;
	color: #232735;
	margin: 90px 20px 20px 20px;
	padding: 24px;

	@media #{$medium} {
		margin: 30px 0px;
	}

	.f-18 {
		@media #{$medium} {
			font-size: 24px;
		}
	}

	.f-12 {
		font-weight: 400;
		color: #505565;
	}

	a {
		color: $blue;
		&:hover {
			color: lighten($blue, 10%);
		}
	}

	.form-input {
		width: 100%;
		&:focus {
			border-color: darken($primary, 50%);
			outline: none;
		}
	}

	.btn {
		width: 100%;
	}

	.btn--ghost-dark-grey {
		padding: 8px 16px;
	}

	.wrapper {
		justify-content: space-around;
	}
}
</style>
